@import url(https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap);

#logged_out,
#logged_in {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#logged_in {
  display: none;
}

body {
  background-color: blanchedalmond;
  font-family: 'Inter';
  font-style: normal;
}

.content {
  padding-bottom: 64px;
}

center {
  display: table-cell;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

th {
  font-weight:900;
  background-color: dimgrey;
  color: #FFFFFF;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: white;}
tr:nth-child(odd){background-color: lightgray;}

h1 {
  font-weight: 400;
  font-size: 96px;
}

h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 155px;
}

button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}